.DS_Store
.eprj
.rvmrc
public/assets/*
config/initializers/gmaps.rb
config/services.yml
log/*.log
tmp/**/*
nbproject
db/*.sqlite3
public/stylesheets/compiled
public/system/*
config/database.yml
.sass-cache
coverage
*.tmproj
tmtags
dump.rdb
.bundle/config