/*
Syntax error: Undefined mixin 'serif'.
        on line 32 of /Users/mihar/Work/majx.org/v8/app/stylesheets/application.sass, in `serif'
        from line 32 of /Users/mihar/Work/majx.org/v8/app/stylesheets/application.sass

27:       font-weight: normal
28:       font-size: 14px
29:     p
30:       margin: 10px 0
31:       font-size: 14px
32:       +serif
33:       +italic
34:   #location
35:     margin-top: 50px
36:     padding-left: 32px
37:     background: url(/images/icons/location.png) no-repeat 0px 2px

Backtrace:
/Users/mihar/Work/majx.org/v8/app/stylesheets/application.sass:32:in `serif'
/Users/mihar/Work/majx.org/v8/app/stylesheets/application.sass:32
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:169:in `visit_mixin'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/engine.rb:291:in `_render'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/engine.rb:239:in `render'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/util.rb:298:in `silence_sass_warnings'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/engine.rb:239:in `render'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/plugin.rb:54:in `check_for_updates'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/sass-3.1.2/lib/sass/../sass/plugin/rack.rb:51:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/rack-1.2.3/lib/rack/lock.rb:11:in `synchronize'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/railties-3.0.7/lib/rails/application.rb:77:in `send'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
/Users/mihar/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/mihar/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/mihar/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/mihar/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/mihar/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/mihar/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/mihar/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/mihar/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/mihar/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/mihar/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/rack-1.2.3/lib/rack/handler/webrick.rb:13:in `run'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/rack-1.2.3/lib/rack/server.rb:217:in `start'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/railties-3.0.7/lib/rails/commands/server.rb:65:in `start'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/railties-3.0.7/lib/rails/commands.rb:30
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/railties-3.0.7/lib/rails/commands.rb:27:in `tap'
/Users/mihar/.rvm/gems/ree-1.8.7-2011.03@majx/gems/railties-3.0.7/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'serif'.\A         on line 32 of /Users/mihar/Work/majx.org/v8/app/stylesheets/application.sass, in `serif'\A         from line 32 of /Users/mihar/Work/majx.org/v8/app/stylesheets/application.sass\A \A 27:       font-weight: normal\A 28:       font-size: 14px\A 29:     p\A 30:       margin: 10px 0\A 31:       font-size: 14px\A 32:       +serif\A 33:       +italic\A 34:   #location\A 35:     margin-top: 50px\A 36:     padding-left: 32px\A 37:     background: url(/images/icons/location.png) no-repeat 0px 2px"; }
