<div id="tier_1">
  <h1>My location</h1>

  <!-- Google Public Location Badge -->
  <iframe src="http://www.google.com/latitude/apps/badge/api?user=-846891962410257619&type=iframe&maptype=roadmap" width="180" height="300" frameborder="0"></iframe>
  <!-- To disable location sharing, you *must* visit https://www.google.com/latitude/apps/badge and disable the Google Public Location badge. Removing this code snippet is not enough! -->
</div>