%head
  %meta{ :charset => "utf-8" }/
  %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
  
  %title 
    - if @page_title
      #{@page_title} by Miha Rebernik, majx
    - else
      Miha Rebernik, majx
    
  %meta{ :content => "Miha Rebernik, developer, designer and netizen. Find here my tweets, blog posts, photos, tracks I listen to, bookmarks and more.", :name => "description" }/
  %meta{ :content => "Miha Rebernik, majx, mihar", :name => "author" }/
  %meta{ :content => "Miha Rebernik, majx, mihar, Twitter, tweets, Tumblr, blog, post, music, Last.fm, track, tune, picture, Flickr, Instagram, photos, bookmarks, Pinboard", :name => "keywords" }/
  %meta{ :content => "width=1024", :name => "viewport" }/

  %link{ :href => "http://majxorg.s3.amazonaws.com/favicon.ico", :rel => "shortcut icon" }/
  
  = render :partial => 'layouts/stylesheets'
  
  = javascript_include_tag 'polyfills'
  
  = csrf_meta_tag